<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/search" method="POST">
        <input type="radio" name="search" value="name">name
        <input type="text"name='name'  placeholder="write a name">
    <br>
    <input type="radio" name="search" value="level">
    level
    <input type="text"name='level' placeholder="write a level">
    <br>
    <button>submit</button>
</form>

</body>
</html>